<div class="right-sidebar">
    <div class="news-category-title">Слухати ефір</div>
    <div class="listen-radio">
        <a href='#' class="listen-radio-item">
            <div class="play">
            </div>
            <div>
                <div class="date">14:00:03</div>
                <div class="title">Новини</div>
            </div>
        </a>
        <a href='#' class="listen-radio-item">
            <div class="play">
            </div>
            <div>
                <div class="date">12:30:03</div>
                <div class="title">Сьогодні вдень</div>
            </div>
        </a>
        <a href='#' class="listen-radio-item">
            <div class="play">
            </div>
            <div>
                <div class="date">13:00:33</div>
                <div class="title">єврорадіо</div>
            </div>
        </a>
        <a href='#' class="listen-radio-item">
            <div class="play">
            </div>
            <div>
                <div class="date">16:00:00</div>
                <div class="title">День про</div>
            </div>
        </a>
    </div>

    <div class="news-category-title">Останні новини</div>
    <a href="#" class="last-news-item">
        <img class="last-news-image" src="https://dist.maksakymenko.now.sh/news-10.f6d9aaa1.png" alt="">
        <div class="last-news-text">
            Кроки України, успіхи та перспективи на шляху євроінтеграції. Експертна оцінка дипломатів та
            політологів

        </div>
    </a>
    <a href="#" class="last-news-item">
        <img class="last-news-image" src="https://dist.maksakymenko.now.sh/news-9.3006487b.png" alt="">
        <div class="last-news-text">
            Розгляд законопроєктів щодо змін до Конституції пройшов з явним порушенням регламенту — політичний
            експерт

        </div>
    </a>

    <a href="#" class="last-news-item">
        <img class="last-news-image" src="https://dist.maksakymenko.now.sh/news-7.496d0918.png" alt="">
        <div class="last-news-text">
            Кроки України, успіхи та перспективи на шляху євроінтеграції. Експертна оцінка дипломатів та
            політологів

        </div>
    </a>

</div>