<div class="slider">
    <div class="slide-arrows container"></div>
    <div id='mainSlider'>
        <div>
            <div class="slide-image">
            </div>
            <div class="container">
                <a href="http://spaces.ru" class="slide-content">
                    <h1 class="slide-title">новина українського радіо</h1>
                    <p class="slide-text"> США: держсекретар Помпео обговорив із Зеленським перенесення його візиту до України </p>
                </a>
            </div>
        </div>

         <div>
            <div class="slide-image">
            </div>
            <div class="container">
                <a href="http://spaces.ru" class="slide-content">
                    <h1 class="slide-title">новина українського радіо</h1>
                    <p class="slide-text"> США: держсекретар Помпео обговорив із Зеленським перенесення його візиту до України </p>
                </a>
            </div>
        </div>


         <div>
            <div class="slide-image">
            </div>
            <div class="container">
                <div class="slide-content">
                    <h1 class="slide-title">новина українського радіо</h1>
                    <p class="slide-text"> США: держсекретар Помпео обговорив із Зеленським перенесення його візиту до України </p>
                </div>
            </div>
        </div>
        
    </div>
    <div class="slide-dots container"></div>
</div>