<div class="container">
    <div class="feed">
        <div class="top-news">
            <div class="news-category-title">Топ-новина</div>
            <a href="news-detail.html" class="d-flex align-tablet-start align-items-center">
                <img class="news-channel-image"
                    src="./assets/news-channel.png"  alt="">
                <div class="news-title news-title-big">
                    
              Українці, які в рамках обміну з Росією повернулися на батьківщину(список)
            
                </div>
            </a>
            <img src="./assets/news.png" class="news-image"
                alt="">
        </div>
        <div class="recent-news">
            <div class="news-category-title">новини</div>
            <div class="recent-news-item">
                <a href="news-detail.html" class="recent-news-image-container">
                    <img class="recent-news-image"
                        src="https://dist.maksakymenko.now.sh/news-1-picture.116d29b5.svg"
                        class="news-image" alt="">
                    <div class="channel-title-card culture-radio">Культура</div>
                </a>

                <a href="news-detail.html">
                    <div class="news-title">
                        
              "Вигнані на степи": 75 років тому близько 500 тисяч українців переселили з етнічних українських земель
            
                    </div>
                    <div class="news-date">06:30</div>
                </a>
            </div>
            <a href="news-detail.html" class="recent-news-item">
                <div class="recent-news-image-container">
                    <img class="recent-news-image"
                        src="https://dist.maksakymenko.now.sh/news-2-picture.3e053753.svg"
                        class="news-image" alt="">
                    <div class="channel-title-card">Українське</div>
                </div>
                <div>
                    <div class="news-title">
                      
              Екс-міністр екології Сергій Курикін про об'єднання двох міністерств: очікування дуже песимістичні
            
                    </div>
                    <div class="news-date">06:30</div>
                </div>
            </a>
            <a href="news-detail.html" class="recent-news-item">
                <div class="recent-news-image-container">
                    <img class="recent-news-image"
                        src="https://dist.maksakymenko.now.sh/news-3-picture.df7d5101.svg"
                        class="news-image" alt="">
                    <div class="channel-title-card">Українське</div>
                </div>

                <div>
                    <div class="news-title">
                        
              Тема людей, які перебувають у полоні бойовиків, завжди потребує тиші – колишня полонена Ірина
            
                    </div>
                    <div class="news-date">06:30</div>
                </div>
            </a>
            <a href="news-detail.html" class="recent-news-item">
                <div class="recent-news-image-container">
                    <img class="recent-news-image"
                        src="https://dist.maksakymenko.now.sh/news-4-picture.e27d65c4.svg"
                        class="news-image" alt="">
                    <div class="channel-title-card ray-radio">Промінь</div>
                </div>

                <div>
                    <div class="news-title">
                       
              Українці, які в рамках обміну з Росією повернулися на батьківщину(список)
            
                    </div>
                    <div class="news-date">06:30</div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="news-category-title">політика</div>
    <div class="news-list">
        <a href='news-detail.html' class="news-list-item">
            <img src="https://dist.maksakymenko.now.sh/group-209@3x.8e1c09b9.png" class="news-list-item-image"></img>
            <div class="news-title">
               
              Українці, які в рамках обміну з Росією повернулися на батьківщину (список)
            
            </div>
            <div class="news-date">10 вересня</div>
        </a>
        <a href='news-detail.html' class="news-list-item">
            <img src="https://dist.maksakymenko.now.sh/group-212@3x.fc9fb1d0.png" class="news-list-item-image"></img>
            <div class="news-title">
              
              Хороший фахівець з SMM може генерувати клієнтів сам собі — Богдан Дар
            
            </div>
            <div class="news-date">10 вересня</div>
        </a>
        <a href='news-detail.html' class="news-list-item">
            <img src="https://dist.maksakymenko.now.sh/group-216@3x.73591859.png" class="news-list-item-image"></img>
            <div class="news-title">
               
              Як зниження облікової ставки вплине на інфляцію і кредитування — пояснює Сергій Фурса
            
            </div>
            <div class="news-date">10 вересня</div>
        </a>
        <a href='news-detail.html' class="news-list-item">
            <img src="https://dist.maksakymenko.now.sh/group-220@3x.a8a82bff.png" class="news-list-item-image"></img>
            <div class="news-title">
               
              Хороший фахівець з SMM може генерувати клієнтів сам собі — Богдан Дар
            
            </div>
            <div class="news-date">10 вересня</div>
        </a>
    </div>


     <div class="news-category-title">Суспільство</div>
    <div class="news-list">
        <a href='news-detail.html' class="news-list-item">
            <img src="https://dist.maksakymenko.now.sh/news-4.53106684.png" class="news-list-item-image"></img>
            <div class="news-title">
             
              Хороший фахівець з SMM може генерувати клієнтів сам собі — Богдан Дар
            
            </div>
            <div class="news-date">10 вересня</div>
        </a>
        <a href='news-detail.html' class="news-list-item">
            <img src="https://dist.maksakymenko.now.sh/news-5.6402c243.png" class="news-list-item-image"></img>
            <div class="news-title">
              
              
              Кроки України, успіхи та перспективи на шляху євроінтеграції. Експертна оцінка дипломатів та політологів
            
            
            </div>
            <div class="news-date">10 вересня</div>
        </a>
        <a href='news-detail.html' class="news-list-item">
            <img src="https://dist.maksakymenko.now.sh/news-6.1c484b13.png" class="news-list-item-image"></img>
            <div class="news-title">
               
            
              Кроки України, успіхи та перспективи на шляху євроінтеграції. Експертна оцінка дипломатів та політологів
            
            </div>
            <div class="news-date">10 вересня</div>
        </a>
        <a href='news-detail.html' class="news-list-item">
            <img src="https://dist.maksakymenko.now.sh/news-7.496d0918.png" class="news-list-item-image"></img>
            <div class="news-title">
               
            
              Розгляд законопроєктів щодо змін до Конституції пройшов з явним порушенням регламенту — політичний експерт
            
            
            </div>
            <div class="news-date">10 вересня</div>
        </a>
    </div>


     <div class="news-category-title">Економіка</div>
    <div class="news-list">
        <a href='news-detail.html' class="news-list-item">
            <img src="https://dist.maksakymenko.now.sh/news-6.1c484b13.png" class="news-list-item-image"></img>
            <div class="news-title">
              
              Хороший фахівець з SMM може генерувати клієнтів сам собі — Богдан Дар
            
            </div>
            <div class="news-date">10 вересня</div>
        </a>
        <a href='news-detail.html' class="news-list-item">
            <img src="https://dist.maksakymenko.now.sh/news-7.496d0918.png" class="news-list-item-image"></img>
            <div class="news-title">
              
              
              Кроки України, успіхи та перспективи на шляху євроінтеграції. Експертна оцінка дипломатів та політологів
            
            
            </div>
            <div class="news-date">10 вересня</div>
        </a>
        <a href='news-detail.html' class="news-list-item">
            <img src="https://dist.maksakymenko.now.sh/news-8.f45b26c6.png" class="news-list-item-image"></img>
            <div class="news-title">
               
             
              Кроки України, успіхи та перспективи на шляху євроінтеграції. Експертна оцінка дипломатів та політологів
            
            </div>
            <div class="news-date">10 вересня</div>
        </a>
        <a href='news-detail.html' class="news-list-item">
            <img src="https://dist.maksakymenko.now.sh/news-9.3006487b.png" class="news-list-item-image"></img>
            <div class="news-title">
               
              Розгляд законопроєктів щодо змін до Конституції пройшов з явним порушенням регламенту — політичний експерт
            
            </div>
            <div class="news-date">10 вересня</div>
        </a>
    </div>


     <div class="news-category-title">Культура</div>
    <div class="news-list">
        <a href='news-detail.html' class="news-list-item">
            <img src="https://dist.maksakymenko.now.sh/group-209@3x.8e1c09b9.png" class="news-list-item-image"></img>
            <div class="news-title">
               
             
              “Школа опору та бунтарства”: 7 вересня на Радіо Культура стартує програма, присвячена правам дітей
            
            
            </div>
            <div class="news-date">10 вересня</div>
        </a>
        <a href='news-detail.html' class="news-list-item">
            <img src="https://dist.maksakymenko.now.sh/group-212@3x.fc9fb1d0.png" class="news-list-item-image"></img>
            <div class="news-title">
              
              
              Кроки України, успіхи та перспективи на шляху євроінтеграції. Експертна оцінка дипломатів та політологів
            
            </div>
            <div class="news-date">10 вересня</div>
        </a>
        <a href='news-detail.html' class="news-list-item">
            <img src="https://dist.maksakymenko.now.sh/group-216@3x.73591859.png" class="news-list-item-image"></img>
            <div class="news-title">
               
             
              Радіо Промінь і Радіо Культура розпочали FM-мовлення в Києві
            
            </div>
            <div class="news-date">10 вересня</div>
        </a>
        <a href='news-detail.html' class="news-list-item">
            <img src="https://dist.maksakymenko.now.sh/group-220@3x.a8a82bff.png" class="news-list-item-image"></img>
            <div class="news-title">
               
              
              Розгляд законопроєктів щодо змін до Конституції пройшов з явним порушенням регламенту — політичний експерт
            
            
            </div>
            <div class="news-date">10 вересня</div>
        </a>
    </div>


     <div class="news-category-title">Музика</div>
    <div class="news-list">
        <a href='news-detail.html' class="news-list-item">
            <img src="https://dist.maksakymenko.now.sh/news-6.1c484b13.png" class="news-list-item-image"></img>
            <div class="news-title">
               
               Хороший фахівець з SMM може генерувати клієнтів сам собі — Богдан Дар
            
            </div>
            <div class="news-date">10 вересня</div>
        </a>
        <a href='news-detail.html' class="news-list-item">
            <img src="https://dist.maksakymenko.now.sh/news-10.f6d9aaa1.png" class="news-list-item-image"></img>
            <div class="news-title">
              
              Кроки України, успіхи та перспективи на шляху євроінтеграції. Експертна оцінка дипломатів та політологів
            
            </div>
            <div class="news-date">10 вересня</div>
        </a>
        <a href='news-detail.html' class="news-list-item">
            <img src="https://dist.maksakymenko.now.sh/news-11.2e52531b.png" class="news-list-item-image"></img>
            <div class="news-title">
               
            
              Кроки України, успіхи та перспективи на шляху євроінтеграції. Експертна оцінка дипломатів та політологів
            
            </div>
            <div class="news-date">10 вересня</div>
        </a>
        <a href='news-detail.html' class="news-list-item">
            <img src="https://dist.maksakymenko.now.sh/news-9.3006487b.png" class="news-list-item-image"></img>
            <div class="news-title">
               
              
              Розгляд законопроєктів щодо змін до Конституції пройшов з явним порушенням регламенту — політичний експерт
            
            </div>
            <div class="news-date">10 вересня</div>
        </a>
    </div>
</div>