<div class="container">
    <div class="feed">
        <div class="top-news">
            <div class="news-category-title">Топ-новина</div>
            <a href="news-detail.html" class="d-flex align-tablet-start align-items-center">
                <img class="news-channel-image"
                    src="./assets/news-channel.png"  alt="">
                <div class="news-title news-title-big">
                    Продаж землі є для України «емоційно, психологічно та політично складним питанням», – група Rothschild
                </div>
            </a>
            <img src="./assets/news.png" class="news-image"
                alt="">
        </div>
        <div class="recent-news">
            <div class="news-category-title">новини</div>
            <div class="recent-news-item">
                <a href="news-detail.html" class="recent-news-image-container">
                    <img class="recent-news-image"
                        src="https://img5.goodfon.com/original/800x480/9/54/utro-berioza-tuman-osen.jpg"
                        class="news-image" alt="">
                    <div class="recent-news-channel-title">Українське</div>
                </a>

                <a href="news-detail.html">
                    <div class="news-title">
                        Підприємцям ввели в дію IBAN-рахунки для сплати податків
                    </div>
                    <div class="news-date">06:30</div>
                </a>
            </div>
            <a href="news-detail.html" class="recent-news-item">
                <div class="recent-news-image-container">
                    <img class="recent-news-image"
                        src="https://img5.goodfon.com/wallpaper/big/0/f4/devushka-kraski-akvarel-kist.jpg"
                        class="news-image" alt="">
                    <div class="recent-news-channel-title">Українське</div>
                </div>
                <div>
                    <div class="news-title">
                       Енергоблок №3 Южно-Української АЕС підключили до енергомережі
                    </div>
                    <div class="news-date">06:30</div>
                </div>
            </a>
            <a href="news-detail.html" class="recent-news-item">
                <div class="recent-news-image-container">
                    <img class="recent-news-image"
                        src="https://img5.goodfon.com/wallpaper/big/b/9b/devushka-poza-samoliot-1.jpg"
                        class="news-image" alt="">
                    <div class="recent-news-channel-title">Українське</div>
                </div>

                <div>
                    <div class="news-title">
                        Через невизначеність ринку землі зменшився попит на сільгосптехніку
                    </div>
                    <div class="news-date">06:30</div>
                </div>
            </a>
            <a href="news-detail.html" class="recent-news-item">
                <div class="recent-news-image-container">
                    <img class="recent-news-image"
                        src="https://img5.goodfon.com/wallpaper/big/e/b5/tailand-priroda-peizazh-les-derevia-reka-kamni-techenie.jpg"
                        class="news-image" alt="">
                    <div class="recent-news-channel-title">Українське</div>
                </div>

                <div>
                    <div class="news-title">
                       Українцям нададуть доступ до звітів про держбюджет
                    </div>
                    <div class="news-date">06:30</div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="news-category-title">новини</div>
    <div class="news-list">
        <div class="news-list-item">
            <img src="https://img.tsn.ua/cached/1578355381/tsn-87394d020f46df1bdfb04b5785c6f4e0/thumbs/470x180/ba/bb/1463d6e396a1f12f08bbb29d034ebbba.jpeg" class="news-list-item-image"></img>
            <div class="news-title">
               Аграрії посіли третє місце серед галузей, де найбільше заробляють оптовики 
            </div>
            <div class="news-date">10 вересня</div>
        </div>
        <div class="news-list-item">
            <img src="https://img.tsn.ua/cached/1577372811/tsn-87394d020f46df1bdfb04b5785c6f4e0/thumbs/470x180/3b/99/2a1e01e56e7ef3c8ebd4d037b822993b.jpeg" class="news-list-item-image"></img>
            <div class="news-title">
               В Одеській області на місці звалища будують сонячну електростанцію (фото) 
            </div>
            <div class="news-date">10 вересня</div>
        </div>
        <div class="news-list-item">
            <img src="https://img.tsn.ua/cached/1546683568/tsn-471c1e8f46d3594337c6f6226982b912/thumbs/470x180/bb/0f/4af8379a77de91805cf6af7118560fbb.jpeg" class="news-list-item-image"></img>
            <div class="news-title">
               В Україні почали діяти нові рахунки для сплати податків
            </div>
            <div class="news-date">10 вересня</div>
        </div>
        <div class="news-list-item">
            <img src="https://img.tsn.ua/cached/1578387535/tsn-87394d020f46df1bdfb04b5785c6f4e0/thumbs/470x180/db/93/8a679805b3587a76a3d1396551f793db.jpeg" class="news-list-item-image"></img>
            <div class="news-title">
               Будівництво «Північного потоку-2» зупинилося, проте по його наземному продовженню газ пішов
            </div>
            <div class="news-date">10 вересня</div>
        </div>
    </div>
</div>