
<div class="radio radio-{{radio}}">
    <div class="container">
        <div class="radio-content">
            <div class="radio-label">
                <img src="https://img5.goodfon.com/original/640x480/2/b8/mmmmm-nnnnnnnnnnnn-b-bbbbbbbb-vvvvvvvvv-cccccccccc.jpg"
                    alt="" class="radio-image">
                <div class="radio-title">Еко-life Радіоблог</div>
                <div class="radio-time">9:20</div>
            </div>

            <div data-media-container class="radio-btn">
                <div data-media-item data-media-title='culture' data-media-path="https://ms05.spac.me/m/080163224170036107155241098123172115177156124128098046/1582292731/103941979/0/8db2b21bb0cb396873ec785d3decb647/Ariana_Grande_feat._Miley_Cyrus_amp_Lana_Del_Rey-Donapost_Call_Me_Angel-spcs.me.mp3" data-media-metadata='load meta here'  class="radio-btn-icon">
                </div>
            </div>

            <div class="radio-broadcast-list">
                <div class="radio-broadcast-title">в ефірі</div>
                <div class="radio-broadcast-item">
                    <div class="radio-broadcast-time">9:10</div>
                    ОКЕАН ЕЛЬЗИ / ще мить
                </div>
                <div class="radio-broadcast-item">
                    <div class="radio-broadcast-time">9:15</div>
                    HARDKISS / атлантида
                </div>
                <div class="radio-broadcast-item">
                    <div class="radio-broadcast-time">9:18</div>
                    БУМБОКС / вахтери
                </div>
                <div class="radio-broadcast-item current">
                    <div class="radio-broadcast-time">9:20</div>
                    ОКЕАН ЕЛЬЗИ / ще мить
                </div>
                <div class="radio-broadcast-item">
                    <div class="radio-broadcast-time">9:15</div>
                    HARDKISS / атлантида
                </div>
                <div class="radio-broadcast-item">
                    <div class="radio-broadcast-time">9:18</div>
                    БУМБОКС / вахтери
                </div>
                <div class="radio-broadcast-item">
                    <div class="radio-broadcast-time">9:10</div>
                    ОКЕАН ЕЛЬЗИ / ще мить
                </div>
            </div>

        </div>
    </div>
</div>

<div class="radio-slider">
    <div class="container">
        <div class="slide-arrows"></div>
        <div class="slider-wrapper">
            <div id='radioSlider' class='speakers-list'>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">00:00:02</div>
                    <div class="radio-item-title">
                        Новини
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">00:07:00</div>
                    <div class="radio-item-title">
                        Прогноз погоди з Габріеллою Массангою
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">00:10:00</div>
                    <div class="radio-item-title">
                        Нічна вахта
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">01:00:02</div>
                    <div class="radio-item-title">
                        Новини
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">01:05:00</div>
                    <div class="radio-item-title">
                        У нас усе культурно
                    </div>
                </div>
                <div class="radio-slider-item active">
                    <div class="radio-item-time">02:02:42</div>
                    <div class="radio-item-title">
                        Твоє право
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">03:01:02</div>
                    <div class="radio-item-title">
                        Міжнародний контекст
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">04:20:02</div>
                    <div class="radio-item-title">
                        Форпост
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">05:00:02</div>
                    <div class="radio-item-title">
                        Чорним по білому
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">06:00:02</div>
                    <div class="radio-item-title">
                        Новини
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">06:10:00</div>
                    <div class="radio-item-title">
                        Благовіст
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">06:30:03</div>
                    <div class="radio-item-title">
                        Колос. Аграрний щоденник
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">06:45:00</div>
                    <div class="radio-item-title">
                        Прогноз погоди з Габріеллою Массангою
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">07:00:02</div>
                    <div class="radio-item-title">
                        Новини
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">07:14:02</div>
                    <div class="radio-item-title">
                        Інклюзивний світ
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">07:35:40</div>
                    <div class="radio-item-title">
                        Стартап
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">08:00:02</div>
                    <div class="radio-item-title">
                        Новини
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">08:10:44</div>
                    <div class="radio-item-title">
                        Бути здоровим
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">09:00:02</div>
                    <div class="radio-item-title">
                        Новини
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">09:10:00</div>
                    <div class="radio-item-title">
                        Ранковий формат
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">09:30:00</div>
                    <div class="radio-item-title">
                        Новини
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">09:36:00</div>
                    <div class="radio-item-title">
                        Ранковий формат
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">10:00:02</div>
                    <div class="radio-item-title">
                        Новини
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">10:10:00</div>
                    <div class="radio-item-title">
                        Ранковий формат
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">10:30:00</div>
                    <div class="radio-item-title">
                        Новини
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">10:33:00</div>
                    <div class="radio-item-title">
                        Ранковий формат
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">11:00:02</div>
                    <div class="radio-item-title">
                        Новини
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">11:09:00</div>
                    <div class="radio-item-title">
                        Відкритий простір
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">11:40:00</div>
                    <div class="radio-item-title">
                        20 хвилин з Володимиром Яворівським
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">12:00:02</div>
                    <div class="radio-item-title">
                        Новини
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">12:10:02</div>
                    <div class="radio-item-title">
                        Київ Incognita
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">12:31:24</div>
                    <div class="radio-item-title">
                        Ліра
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">13:00:02</div>
                    <div class="radio-item-title">
                        Новини
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">13:10:00</div>
                    <div class="radio-item-title">
                        Під прицілом
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">14:00:02</div>
                    <div class="radio-item-title">
                        Новини
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">14:10:00</div>
                    <div class="radio-item-title">
                        В мережі
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">15:00:02</div>
                    <div class="radio-item-title">
                        Новини
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">15:10:00</div>
                    <div class="radio-item-title">
                        Династії
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">15:37:40</div>
                    <div class="radio-item-title">
                        Життя без лінії розмежування
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">16:00:02</div>
                    <div class="radio-item-title">
                        Новини
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">16:09:00</div>
                    <div class="radio-item-title">
                        Економ-варіант
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">16:56:40</div>
                    <div class="radio-item-title">
                        Прогноз погоди з Габріеллою Массангою
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">17:00:02</div>
                    <div class="radio-item-title">
                        Новини
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">17:10:02</div>
                    <div class="radio-item-title">
                        Коло доброчесності
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">18:00:02</div>
                    <div class="radio-item-title">
                        Новини
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">18:09:00</div>
                    <div class="radio-item-title">
                        Книжковий топ-7
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">19:00:02</div>
                    <div class="radio-item-title">
                        Новини
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">19:07:00</div>
                    <div class="radio-item-title">
                        Україна. Сьогодення
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">20:00:02</div>
                    <div class="radio-item-title">
                        Новини
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">20:10:02</div>
                    <div class="radio-item-title">
                        Персона ґрата
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">20:50:02</div>
                    <div class="radio-item-title">
                        Про Євробачення
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">21:00:02</div>
                    <div class="radio-item-title">
                        Новини
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">21:07:00</div>
                    <div class="radio-item-title">
                        Радіо "Культура" представляє
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">21:49:40</div>
                    <div class="radio-item-title">
                        Планета спорту
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">22:00:02</div>
                    <div class="radio-item-title">
                        Новини
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">22:07:00</div>
                    <div class="radio-item-title">
                        Радіо "Культура" представляє
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">23:00:02</div>
                    <div class="radio-item-title">
                        Новини
                    </div>
                </div>
                <div class="radio-slider-item ">
                    <div class="radio-item-time">23:07:00</div>
                    <div class="radio-item-title">
                        Нічна вахта
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    
    <div class="radio-program ">
        <div class="radio-program-head">
            <div class="radio-program-logo radio-{{radio}}">
                Культура
            </div>
            <div class="radio-program-title">Радіодетиктив</div>
        </div>
        <img class="radio-program-image" src="./assets/program.png" alt="">
        <div class="radio-program-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam alias, iure perspiciatis magnam nisi ipsum pariatur odit voluptatum dolorum sit?
        </div>
    </div>
</div>

<div class="container">
    <div class="news-category-title">Архів</div>
    {{> blocks/programs-list/programs-list}}
</div>
