<div class="container">
    <div id="channelsSlider" class="channel-list">
        <a href='radio-ukr.html' class="channel-item">
            <img src="./assets/radio-image1.png"
                alt="" class="channel-image">
            <div class="channel-title">
                Активізація з Людмилою Тягнирядно
            </div>
        </a>
        <a href='radio-ray.html' class="channel-item">
            <img src="./assets/radio-image2.png"
                alt="" class="channel-image">
            <div class="channel-title">
                Година меломана з Олексієм Коганом
            </div>
        </a>
        <a href='radio-culture.html' class="channel-item">
            <img src="./assets/radio-image3.png"
                alt="" class="channel-image">
            <div class="channel-title">
                Еко-life Радіоблог Майї Манько
            </div>
        </a>
        <a href='radio-culture.html' class="channel-item">
            <img src="./assets/radio-image4.png"
                alt="" class="channel-image">
            <div class="channel-title">
                Новини
            </div>
        </a>
        <a href='radio-culture.html' class="channel-item">
            <img src="./assets/radio-image5.png"
                alt="" class="channel-image">
            <div class="channel-title">
                ІІ Концерт Сергія
            </div>
        </a>
        <a href='radio-culture.html' class="channel-item">
            <img src="./assets/radio-image6.png"
                alt="" class="channel-image">
            <div class="channel-title">
                Назва казки
            </div>
        </a>
    </div>

</div>