{{#> layout/document }}
{{> blocks/channel-list/channel-list}}
<div class="container">
    <div class="grid-sidebar">
        <div class="content">
            {{> @partial-block }}
        </div>
        {{> blocks/sidebar/sidebar}}
    </div>
</div>


{{/layout/document}}