.flex-list
    display: flex
    flex-wrap: wrap
    &.prog-list
        .flex-list-item
            flex-basis: 150px
            justify-content: flex-start
.flex-list-item
    flex-basis: 170px
    margin: 0 5px
    margin-bottom: 20px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-start
    font-size: 14px
   
    @include for-phone
        width: auto
        img
            width: auto
    @include for-desktop
        width: 100%
        img
            width: 100%
            object-fit: cover
    span
        padding-top: 5px
        color: #0083cf