.author-name
    font-size: 24px
    text-transform: capitalize
    font-weight: bold
    padding-bottom: 20px
.author
    font-family: tahoma serif
    padding-bottom: 40px
    @include for-tablet-only
        flex-direction: column
    .author-image
        margin-right: 1em
        margin-bottom: 1em
        float: left
        align-self: flex-start
        object-fit: cover
        @include for-tablet-only
            align-self: center
            margin-bottom: 20px
    .author-text
        padding-bottom: 20px
        padding-left: 20px
        @include for-tablet-only
            padding-left: 0
        span
            display: block
            padding-bottom: 1em
        
