<div class="news-category-title">Слухати ефір</div>
<div id='listenSlider' class="listen-radio">
        <a href='#' class="listen-radio-item">
            <div class="play">
            </div>
            <div>
                <div class="date">14:00:03</div>
                <div class="title">Новини</div>
            </div>
        </a>
        <a href='#' class="listen-radio-item">
            <div class="play">
            </div>
            <div>
                <div class="date">12:30:03</div>
                <div class="title">Сьогодні вдень</div>
            </div>
        </a>
        <a href='#' class="listen-radio-item">
            <div class="play">
            </div>
            <div>
                <div class="date">13:00:33</div>
                <div class="title">єврорадіо</div>
            </div>
        </a>
        <a href='#' class="listen-radio-item">
            <div class="play">
            </div>
            <div>
                <div class="date">16:00:00</div>
                <div class="title">День про</div>
            </div>
        </a>
    </div>
