<div class="programs-list">
    <div class="program-item">
        <img src="./assets/program-thumb.png" alt="" class="program-item-image">
        <div class="program-item-controls">
            <div class="program-item-btn play"></div>
        </div>
        <div class="program-item-content">
            <div class="program-date">16.01.2020 15:05:00</div>
            <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt porro odio vero quisquam! Consequatur, molestias!</div>
            <div>Олександр Алфьоров</div>
        </div>
    </div>
     <div class="program-item">
        <img src="./assets/program-thumb.png" alt="" class="program-item-image">
        <div class="program-item-controls">
            <div class="program-item-btn play"></div>
        </div>
        <div class="program-item-content">
            <div class="program-date">16.01.2020 15:05:00</div>
            <div>Історичні фрески</div>
            <div>Олександр Алфьоров</div>
        </div>
    </div>
     <div class="program-item">
        <img src="./assets/program-thumb.png" alt="" class="program-item-image">
        <div class="program-item-controls">
            <div class="program-item-btn play"></div>
        </div>
        <div class="program-item-content">
            <div class="program-date">16.01.2020 15:05:00</div>
            <div>Історичні фрески</div>
            <div>Олександр Алфьоров</div>
        </div>
    </div>
     <div class="program-item">
        <img src="./assets/program-thumb.png" alt="" class="program-item-image">
        <div class="program-item-controls">
            <div class="program-item-btn play"></div>
        </div>
        <div class="program-item-content">
            <div class="program-date">16.01.2020 15:05:00</div>
            <div>Історичні фрески</div>
            <div>Олександр Алфьоров</div>
        </div>
    </div>
     <div class="program-item">
        <img src="./assets/program-thumb.png" alt="" class="program-item-image">
        <div class="program-item-controls">
            <div class="program-item-btn play"></div>
        </div>
        <div class="program-item-content">
            <div class="program-date">16.01.2020 15:05:00</div>
            <div>Історичні фрески</div>
            <div>Олександр Алфьоров</div>
        </div>
    </div>
     <div class="program-item">
        <img src="./assets/program-thumb.png" alt="" class="program-item-image">
        <div class="program-item-controls">
            <div class="program-item-btn play"></div>
        </div>
        <div class="program-item-content">
            <div class="program-date">16.01.2020 15:05:00</div>
            <div>Історичні фрески</div>
            <div>Олександр Алфьоров</div>
        </div>
    </div>
</div>