<div data-media-container class="programs-list">
    <div class="program-item">
        <img src="./assets/program-thumb.png" alt="" class="program-item-image">
        <div class="program-item-controls">
            <div data-media-item data-media-title="Eminem" data-media-path="https://ms04.spac.me/m/080163224170036107155241098123172115177156124128098046/1582293014/34799460/0/047e28827b12be0314577a51bdd4797f/Eminem-Eminem_Lose_Yourself-spcs.me.mp3" class="program-item-btn"></div>
        </div>
        <div class="program-item-content">
            <div class="program-date">16.01.2020 15:05:00</div>
            <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt porro odio vero quisquam! Consequatur, molestias!</div>
            <div>Олександр Алфьоров</div>
        </div>
    </div>
     <div class="program-item">
        <img src="./assets/program-thumb.png" alt="" class="program-item-image">
        <div class="program-item-controls">
            <div data-media-item data-media-title="Eminem" data-media-path="https://ms20.spac.me/m/080163224170036107155241098123172115177156124128098046/1582293014/3849/0/fd0660e2bc802623706e0906a72a39cf/Eminem-Eminem_bully_FullversionID3v1-spcs.me.mp3" class="program-item-btn"></div>
        </div>
        <div class="program-item-content">
            <div class="program-date">16.01.2020 15:05:00</div>
            <div>Історичні фрески</div>
            <div>Олександр Алфьоров</div>
        </div>
    </div>
     <div class="program-item">
        <img src="./assets/program-thumb.png" alt="" class="program-item-image">
        <div class="program-item-controls">
            <div data-media-item data-media-title="Eminem" data-media-path="https://ms08.spac.me/m/080163224170036107155241098123172115177156124128098046/1582293014/21644050/0/3bd119d16041fd0493bf91a85560ffb4/Eminem-Eminem_No_Apologies-spcs.me.mp3" class="program-item-btn"></div>
        </div>
        <div class="program-item-content">
            <div class="program-date">16.01.2020 15:05:00</div>
            <div>Історичні фрески</div>
            <div>Олександр Алфьоров</div>
        </div>
    </div>
     <div class="program-item">
        <img src="./assets/program-thumb.png" alt="" class="program-item-image">
        <div class="program-item-controls">
            <div data-media-item data-media-title="Eminem" data-media-path="https://ms20.spac.me/m/080163224170036107155241098123172115177156124128098046/1582293177/47919518/0/0074c713998005b5c16e835406a1fa64/Eminem-The_Monster_%28ft._Rihanna%29-spcs.me.mp3" class="program-item-btn"></div>
        </div>
        <div class="program-item-content">
            <div class="program-date">16.01.2020 15:05:00</div>
            <div>Історичні фрески</div>
            <div>Олександр Алфьоров</div>
        </div>
    </div>
     <div class="program-item">
        <img src="./assets/program-thumb.png" alt="" class="program-item-image">
        <div class="program-item-controls">
            <div data-media-item data-media-title="Eminem" data-media-path="https://ms08.spac.me/m/080163224170036107155241098123172115177156124128098046/1582293177/41073897/0/2b5671a1141b21d42948868ec55f9da7/Eminem-Berzerk-spcs.me.mp3" class="program-item-btn"></div>
        </div>
        <div class="program-item-content">
            <div class="program-date">16.01.2020 15:05:00</div>
            <div>Історичні фрески</div>
            <div>Олександр Алфьоров</div>
        </div>
    </div>
     <div class="program-item">
        <img src="./assets/program-thumb.png" alt="" class="program-item-image">
        <div class="program-item-controls">
            <div data-media-item data-media-title="Eminem" data-media-path="https://ms07.spac.me/m/080163224170036107155241098123172115177156124128098046/1582293177/3816/0/69064202a32de632fe5910eb4773c7e1/Eminem-16eminemwhen_im_gone_exclus-spcs.me.mp3" class="program-item-btn"></div>
        </div>
        <div class="program-item-content">
            <div class="program-date">16.01.2020 15:05:00</div>
            <div>Історичні фрески</div>
            <div>Олександр Алфьоров</div>
        </div>
    </div>
</div>