<div class="news-category-title">Наступні передачі</div>
<div class="programs-list">
    <div class="program-item">
        <div class="program-date">16.01.2020 15:05:00</div>
        <div class="program-name"> Історичні фрески</div>
        <div class="program-spearkers">
            ведучі:
            <a href="#" class="program-speaker">
                Олександр Алфьоров
            </a>
        </div>

        <div class="program-description">
            Лідери старої України. К.Острозький
        </div>
        <div class="program-bottom">
            <div class="channel-title-card culture-radio">Культура</div>
        </div>
    </div>
</div>

<div class="news-category-title">Минулі передачі</div>

<div class="programs-list">
    <div class="program-item">
        <div class="program-date">16.01.2020 15:05:00</div>
        <div class="program-name"> Історичні фрески</div>
        <div class="program-spearkers">
            ведучі:
            <a href="#" class="program-speaker">
                Олександр Алфьоров
            </a>
        </div>

        <div class="program-description">
            Історія авіації і трагедії в небі. Гість Євген Степаненко, авіатор, режисер та Юрій Шевела, головний
            зберігач фондів відділу геології Національного науково-природничого музею України
        </div>
        <div class="program-bottom">

            <div class="channel-title-card culture-radio">Культура</div>
            <a class="listen-link" href="#"></a>
        </div>
    </div>

    <div class="program-item">
        <div class="program-date">16.01.2020 15:05:00</div>
        <div class="program-name"> Історичні фрески</div>
        <div class="program-spearkers">
            ведучі:
            <a href="#" class="program-speaker">
                Олександр Алфьоров
            </a>
        </div>

        <div class="program-description">
            Гість - доктор богословських наук, проректор Київської православної богословської академії, протоієрей
            Віталій Клос. Різдвяні свята в Україні та світі
        </div>
        <div class="program-bottom">

            <div class="channel-title-card culture-radio">Культура</div>
            <a class="listen-link" href="#"></a>
        </div>
    </div>


    <div class="program-item">
        <div class="program-date">16.01.2020 15:05:00</div>
        <div class="program-name"> Історичні фрески</div>
        <div class="program-spearkers">
            ведучі:
            <a href="#" class="program-speaker">
                Олександр Алфьоров
            </a>
        </div>

        <div class="program-description">
            Українські гроші з давнини і до сьогодні
        </div>
        <div class="program-bottom">

            <div class="channel-title-card culture-radio">Культура</div>
            <a class="listen-link" href="#"></a>
        </div>
    </div>


    <div class="program-item">
        <div class="program-date">16.01.2020 15:05:00</div>
        <div class="program-name"> Історичні фрески</div>
        <div class="program-spearkers">
            ведучі:
            <a href="#" class="program-speaker">
                Олександр Алфьоров
            </a>
        </div>

        <div class="program-description">
            Гість: Руслан Халіков, релігієзнавець. Передноворічні, новорічні та післяноворічні свята - "від Романа до
            Василя". Що треба знати та як святкувати?
        </div>
        <div class="program-bottom">

            <div class="channel-title-card culture-radio">Культура</div>
            <a class="listen-link" href="#"></a>
        </div>
    </div>


    <div class="program-item">
        <div class="program-date">16.01.2020 15:05:00</div>
        <div class="program-name"> Історичні фрески</div>
        <div class="program-spearkers">
            ведучі:
            <a href="#" class="program-speaker">
                Олександр Алфьоров
            </a>
        </div>

        <div class="program-description">
            Гість: Владислав Безпалько, історик, нумізмат. Тема: Українські гроші - чи вміємо ми їх рахувати та чи
            знаємо їх історію?
        </div>
        <div class="program-bottom">

            <div class="channel-title-card culture-radio">Культура</div>
            <a class="listen-link" href="#"></a>
        </div>
    </div>


    <div class="program-item">
        <div class="program-date">16.01.2020 15:05:00</div>
        <div class="program-name"> Історичні фрески</div>
        <div class="program-spearkers">
            ведучі:
            <a href="#" class="program-speaker">
                Олександр Алфьоров
            </a>
        </div>

        <div class="program-description">
            86-ті роковини пам'яті жертв Голодомору-геноциду 1932-1933 років в Україні.
        </div>
        <div class="program-bottom">

            <div class="channel-title-card culture-radio">Культура</div>
            <a class="listen-link" href="#"></a>
        </div>
    </div>
</div>