.programs-list
   
.program-item
    display: grid
    grid-template-columns: auto auto
    grid-row: auto
    align-items: center
    @include for-desktop
        grid-template-columns: repeat(3,auto)
        justify-content: flex-start
   
.program-date
    color: #010101
    font-weight: bold
    margin-bottom: 0.5em    

.program-item-image
    display: none
    @include for-desktop
        display: block
        width: 100px
        height: 100px
    @include for-large-desktop
        width: 120px
        height: 120px

.program-item-content
    color: #6a239b
    font-size: .8em
    grid-column: 1/2
    grid-row: 1/2
    @include for-desktop
        font-size: 1em
        grid-column: 3/4

.program-item-controls
    justify-self: flex-end
    grid-column: 2/3
    grid-row: 1/2
    margin: 0 20px
    @include for-desktop
        margin: 0 40px

.program-item-btn
    background-repeat: no-repeat
    background-size: cover
    background-image: url('assets/play-btn.png')
    cursor: pointer
    width: 35px
    height: 35px
    &.playing
        background-image: url('assets/pause-btn.png')
    @include for-desktop
        width: 60px
        height: 60px
    

.program-item+.program-item
    padding-top: 20px
    @include for-desktop
        padding-top: 40px
    @include for-large-desktop
        padding-top: 70px