<div class="container">
    <div class="our-projects">
        <div class="news-category-title">
            Наші проекти
        </div>
        <div class="projects-list">
            <a class="project-item" href="">
                <img src="./assets/ray-radio.png" class="project-item-image">
                </img>
            </a>
            <a class="project-item" href="">
                <img src="./assets/culture-radio.png" class="project-item-image">
                </img>
            </a>
            <a class="project-item" href="">
                <img src="./assets/international-radio.png" class="project-item-image">
                </img>
            </a>
            <a class="project-item" href="">
                <img src="./assets/clasic-radio.png" class="project-item-image">
                </img>
            </a>
            <a class="project-item" href="">
                <img src="./assets/tales-radio.png" class="project-item-image">
                </img>
            </a>
        </div>
    </div>

</div>