{{#> layout/document }}
<div class="container">
    <div class="news-detail-content">

        <div>
            <h1 class="news-detail-title">
                РІЗДВЯНИЙ СВЯТВЕЧІР: СЬОГОДНІ ХРИСТИЯНИ СХІДНОГО ОБРЯДУ ЗБЕРУТЬСЯ ЗА СВЯТКОВИМ СТОЛОМ
            </h1>
            <div class="d-flex flex-tablet-column">
                <div class="news-detail-image-container">
                    <img
                        src="./assets/detail-image.png"
                        alt=""/>
                    <span class="photo-sign">
                        На фото Тарас Загородній
                    </span>
                </div>
                <div>
                    <div class="news-detail-date">
                        20.05.2012р., 17:12
                    </div>
                    <p class="news-detail-description">
                        У багатьох країнах Святвечір вважається одним із найважливіших родинних свят, коли кожна сім'я
                        створює в оселі атмосферу затишку, достатку та злагоди. Згідно з традицією, цього дня за
                        спільним
                        столом збирається вся родина. Вечеряти сідають, коли на небі з’являється перша зірка.
                        Першим місце
                        займає господар чи найстарший у родині.

                        Як відомо, на святковому столі має бути 12 пісних страв, на честь дванадцяти апостолів, які
                        брали
                        участь у Тайній вечірі. Головною стравою традиційно вважається кутя й узвар. Ставлять її, а
                        також
                        запалену свічку, в центр столу. Окрім цього, господині готують ще 11 пісних страв, адже це
                        останній
                        день пилипівського посту.
                    </p>
                </div>

            </div>
            <div class="listen-item">
                <img src="../assets/listen-image.png" alt="" class="listen-item-image">
                <div class="listen-btn-container">
                    <div class="listen-btn">

                    </div>
                    <div class="list-btn-text">
                        Слухати ефір
                    </div>
                </div>
                <div class="listen-text">
                    <div>15.09.2019 16:35:00</div>
                    <div>бюджет-2020 працює проти тих обіцянок, яких давала нова влада - Невмержицький</div>
                    <div class="listen-text-author">В.Добрянський.</div>
                </div>
            </div>

            <p>В Индонезии нашли цветок, диаметром более 120 см. На данный момент это самый большой цветок в мире,
                сообщает CNN.
                “Раффлезия, что недавно зацвела в лесу на Западе Суматры, имеет диаметр около 120 сантиметров, что
                делает ее самым большим цветком, который когда-либо фиксировали”, -говорится в сообщении.
                Отмечается, что предыдущий рекорд принадлежал раффлезии, которая была на 10 сантиметров меньше и выросла
                с того же растения. Этот рекорд был зафиксирован в 2017 году.
            </p>
            <p>Также отмечается, что цветок имеет неприятный запах, похожий на гнилое мясо. Таким образом цветок
                привлекает насекомых, которые его опыляют.</p>
        </div>

        <div class="d-flex flex-column">
            <div class="news-category-title">Останні новини</div>
            <a href="#" class="last-news-item">
                <img class="last-news-image"
                    src="https://img5.goodfon.com/wallpaper/big/8/a9/novyi-god-ledentsy-vetki-eda-foto.jpg" alt="">
                <div class="last-news-text">
                    Вчені оголосили вимерлим вид риб китайський веслоніс
                </div>
            </a>
            <a href="#" class="last-news-item">
                <img class="last-news-image"
                    src="https://img5.goodfon.com/wallpaper/big/2/7a/butterfly-babochka-tsvetki.jpg" alt="">
                <div class="last-news-text">
                    В Индонезии нашли самый большой цветок в мире (фото)
                </div>
            </a>

        </div>
    </div>
</div>
{{> blocks/speakers/speakers}}
{{> blocks/our-projects/our-projects}}
{{/layout/document}}