{{#> layout/sidebar }}
<div class="news-category-title">Програми</div>
<article class="flex-list prog-list">
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1547039501_5c35f30d7b3a3.jpg" alt="">
        <span>20 хвилин з Володимиром Яворівським</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1544802140_5c13cf5cd1138.jpg" alt="">
        <span>52 вікенди</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1535719787_5b89396b9dfff.jpg" alt="">
        <span>Safe</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1549633238_5c5d86d6bd2e6.jpg" alt="">
        <span>А серйозно?</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1542134390_5beb1a7659004.jpg" alt="">
        <span>Активізація з Людмилою Тягнирядно</span>
    </a>
      <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1547039501_5c35f30d7b3a3.jpg" alt="">
        <span>20 хвилин з Володимиром Яворівським</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1544802140_5c13cf5cd1138.jpg" alt="">
        <span>52 вікенди</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1535719787_5b89396b9dfff.jpg" alt="">
        <span>Safe</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1549633238_5c5d86d6bd2e6.jpg" alt="">
        <span>А серйозно?</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1542134390_5beb1a7659004.jpg" alt="">
        <span>Активізація з Людмилою Тягнирядно</span>
    </a>
      <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1547039501_5c35f30d7b3a3.jpg" alt="">
        <span>20 хвилин з Володимиром Яворівським</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1544802140_5c13cf5cd1138.jpg" alt="">
        <span>52 вікенди</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1535719787_5b89396b9dfff.jpg" alt="">
        <span>Safe</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1549633238_5c5d86d6bd2e6.jpg" alt="">
        <span>А серйозно?</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1542134390_5beb1a7659004.jpg" alt="">
        <span>Активізація з Людмилою Тягнирядно</span>
    </a>
      <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1547039501_5c35f30d7b3a3.jpg" alt="">
        <span>20 хвилин з Володимиром Яворівським</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1544802140_5c13cf5cd1138.jpg" alt="">
        <span>52 вікенди</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1535719787_5b89396b9dfff.jpg" alt="">
        <span>Safe</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1549633238_5c5d86d6bd2e6.jpg" alt="">
        <span>А серйозно?</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1542134390_5beb1a7659004.jpg" alt="">
        <span>Активізація з Людмилою Тягнирядно</span>
    </a>
      <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1547039501_5c35f30d7b3a3.jpg" alt="">
        <span>20 хвилин з Володимиром Яворівським</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1544802140_5c13cf5cd1138.jpg" alt="">
        <span>52 вікенди</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1535719787_5b89396b9dfff.jpg" alt="">
        <span>Safe</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1549633238_5c5d86d6bd2e6.jpg" alt="">
        <span>А серйозно?</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1542134390_5beb1a7659004.jpg" alt="">
        <span>Активізація з Людмилою Тягнирядно</span>
    </a>

      <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1547039501_5c35f30d7b3a3.jpg" alt="">
        <span>20 хвилин з Володимиром Яворівським</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1544802140_5c13cf5cd1138.jpg" alt="">
        <span>52 вікенди</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1535719787_5b89396b9dfff.jpg" alt="">
        <span>Safe</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1549633238_5c5d86d6bd2e6.jpg" alt="">
        <span>А серйозно?</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1542134390_5beb1a7659004.jpg" alt="">
        <span>Активізація з Людмилою Тягнирядно</span>
    </a>
      <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1547039501_5c35f30d7b3a3.jpg" alt="">
        <span>20 хвилин з Володимиром Яворівським</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1544802140_5c13cf5cd1138.jpg" alt="">
        <span>52 вікенди</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1535719787_5b89396b9dfff.jpg" alt="">
        <span>Safe</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1549633238_5c5d86d6bd2e6.jpg" alt="">
        <span>А серйозно?</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1542134390_5beb1a7659004.jpg" alt="">
        <span>Активізація з Людмилою Тягнирядно</span>
    </a>
      <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1547039501_5c35f30d7b3a3.jpg" alt="">
        <span>20 хвилин з Володимиром Яворівським</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1544802140_5c13cf5cd1138.jpg" alt="">
        <span>52 вікенди</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1535719787_5b89396b9dfff.jpg" alt="">
        <span>Safe</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1549633238_5c5d86d6bd2e6.jpg" alt="">
        <span>А серйозно?</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img src="http://ukr.radio/images/bank/prog/size1/prog_1542134390_5beb1a7659004.jpg" alt="">
        <span>Активізація з Людмилою Тягнирядно</span>
    </a>
</article>

<div class="btn-pagination">
    <ul>
        <li class="current"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
    </ul>
</div>

{{/layout/sidebar}}