{{#> layout/basic }}
{{> blocks/header/header radio='3'}}
<div class="container">
    <div class="d-flex justify-content-end">
        <div class="radio-status online">В ефірі</div>
    </div>
</div>

<div class="radio radio-3">
    <div class="container">
        <div class="radio-content">
            <div class="radio-label">
                <img src="https://img5.goodfon.com/original/640x480/2/b8/mmmmm-nnnnnnnnnnnn-b-bbbbbbbb-vvvvvvvvv-cccccccccc.jpg"
                    alt="" class="radio-image">
                <div class="radio-title">Еко-life Радіоблог</div>
                <div class="radio-time">9:20</div>
            </div>

            <div class="radio-btn">
                <div class="radio-btn-icon pause">

                </div>
            </div>

            <div class="radio-broadcast-list">
                
            </div>

        </div>
    </div>
</div>

<div class="radio-slider">
    <div class="container">
        <div class="slide-arrows"></div>
        <div class="slider-wrapper">
            <div id='radioSlider' class='speakers-list'>
                <div class="radio-slider-item">
                    <div class="radio-item-time">9:20</div>
                    <div class="radio-item-title">
                       Активізація з Людмилою Тягнирядно
                    </div>
                </div>
                 <div class="radio-slider-item">
                    <div class="radio-item-time">9:20</div>
                    <div class="radio-item-title">
                        Година меломана з Олексієм Коганом
                    </div>
                </div>
                 <div class="radio-slider-item">
                    <div class="radio-item-time">9:20</div>
                    <div class="radio-item-title">
                         Новини
                    </div>
                </div>
                 <div class="radio-slider-item">
                    <div class="radio-item-time">9:20</div>
                    <div class="radio-item-title">
                        ІІ Концерт Сергія
                    </div>
                </div>
                 <div class="radio-slider-item active">
                    <div class="radio-item-time">9:20</div>
                    <div class="radio-item-title">
                        Еко-life Радіоблог Майї Манько
                    </div>culture-radio
                </div>
                 <div class="radio-slider-item">
                    <div class="radio-item-time">9:20</div>
                    <div class="radio-item-title">
                        Еко-life Радіоблог
                    </div>
                </div>
                 <div class="radio-slider-item">
                    <div class="radio-item-time">9:20</div>
                    <div class="radio-item-title">
                        Еко-life Радіоблог
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> blocks/news/news }}
{{> blocks/speakers/speakers}}
{{> blocks/our-projects/our-projects}}
{{> blocks/footer/footer radio='3'}}
{{/layout/basic}}
