{{#> layout/sidebar }}
<div class="news-category-title">Олександр Стасов</div>
<article class="author">
    <p class="author-text">
        <img class="author-image" src="http://ukr.radio/images/bank/presenter/size2/staff_1439380024_55cb3238446ea.jpg"
        alt="">
        Автор та ведучий передачі "Історичні фрески".
        <span>
            Народився в Києві.</span>
        <span>
            Закінчив Інститут історичної освіти Національного педагогічного університету імені Драгоманова. Захистив
            дисертацію на тему "Роль козацько-старшинського роду Голубів в історії України другої половини 16 -
            кінця 18
            століть". Кандидат історичних наук.
        </span>
        <span>
            Молодший науковий співробітник Інституту історії України НАН України. Автор та упорядник 4 книжок та
            понад
            50
            наукових статей. Нагороди: медаль ІІ ступеня за внесок у розвиток генеалогії та спеціальних історичних
            дисциплін
            (РФ), Подяка від Національного музею України в Чикаго (США).
        </span>
        <span>На Радіо "Культура" працює з 2008 року.</span>
        <strong>
            Основні зацікавлення: сфрагістика, генеалогія, геральдика, історія еліт.
        </strong>
    </p>
</article>
{{> blocks/programs-list/programs-list}}
{{/layout/sidebar}}