{{#> layout/sidebar }}
<div class="news-category-title">Ведучі</div>
<article class="flex-list">
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1439380024_55cb3238446ea.jpg" alt="">
        <span>Олександр Алфьоров</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1571653776_5dad88908202e.jpg" alt="">
        <span>Ірина Антонович</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1541675904_5be41b805b8f0.jpg" alt="">
        <span>Галина Бабій</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1541757909_5be55bd567860.jpg" alt="">
        <span>Олена Бадюк</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1555408026_5cb5a49ac8d8c.jpg" alt="">
        <span>Дмитро Бєлобров</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1541757541_5be55a65e6dee.jpg" alt="">
        <span>Мар’яна Бойко</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1541669303_5be401b7c4c34.jpg" alt="">
        <span>Богдан Буткевич</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1541757909_5be55bd567860.jpg" alt="">
        <span>Олена Бадюк</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1555408026_5cb5a49ac8d8c.jpg" alt="">
        <span>Дмитро Бєлобров</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1541757541_5be55a65e6dee.jpg" alt="">
        <span>Мар’яна Бойко</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1541669303_5be401b7c4c34.jpg" alt="">
        <span>Богдан Буткевич</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1541757909_5be55bd567860.jpg" alt="">
        <span>Олена Бадюк</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1555408026_5cb5a49ac8d8c.jpg" alt="">
        <span>Дмитро Бєлобров</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1541757541_5be55a65e6dee.jpg" alt="">
        <span>Мар’яна Бойко</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1541669303_5be401b7c4c34.jpg" alt="">
        <span>Богдан Буткевич</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1541757909_5be55bd567860.jpg" alt="">
        <span>Олена Бадюк</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1555408026_5cb5a49ac8d8c.jpg" alt="">
        <span>Дмитро Бєлобров</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1541757541_5be55a65e6dee.jpg" alt="">
        <span>Мар’яна Бойко</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1541669303_5be401b7c4c34.jpg" alt="">
        <span>Богдан Буткевич</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1541757909_5be55bd567860.jpg" alt="">
        <span>Олена Бадюк</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1555408026_5cb5a49ac8d8c.jpg" alt="">
        <span>Дмитро Бєлобров</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1541757541_5be55a65e6dee.jpg" alt="">
        <span>Мар’яна Бойко</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1541669303_5be401b7c4c34.jpg" alt="">
        <span>Богдан Буткевич</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1541757909_5be55bd567860.jpg" alt="">
        <span>Олена Бадюк</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1555408026_5cb5a49ac8d8c.jpg" alt="">
        <span>Дмитро Бєлобров</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1541757541_5be55a65e6dee.jpg" alt="">
        <span>Мар’яна Бойко</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1541669303_5be401b7c4c34.jpg" alt="">
        <span>Богдан Буткевич</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1541757909_5be55bd567860.jpg" alt="">
        <span>Олена Бадюк</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1555408026_5cb5a49ac8d8c.jpg" alt="">
        <span>Дмитро Бєлобров</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1541757541_5be55a65e6dee.jpg" alt="">
        <span>Мар’яна Бойко</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1541669303_5be401b7c4c34.jpg" alt="">
        <span>Богдан Буткевич</span>
    </a>
    <a href="speaker.html" class="flex-list-item">
        <img width="200" height="200" src="http://ukr.radio/images/bank/presenter/size1/staff_1541669303_5be401b7c4c34.jpg" alt="">
        <span>Богдан Буткевич</span>
    </a>

</article>

<div class="btn-pagination">
    <ul>
        <li class="current"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
    </ul>
</div>

{{/layout/sidebar}}