<div class="footer {{radio}}">
    <div class="container">
        <div class="d-flex align-tablet-center flex-tablet-column justify-content-between">
            <nav class="footer-top-nav">
                <a href="" class="footer-top-nav-item">політика</a>
                <a href="" class="footer-top-nav-item">економіка</a>
                <a href="" class="footer-top-nav-item">суспільство</a>
                <a href="" class="footer-top-nav-item">стиль життя</a>
                <a href="" class="footer-top-nav-item">культура</a>
                <a href="" class="footer-top-nav-item">музика</a>
                <a href="" class="footer-top-nav-item">спорт</a>
            </nav>
            <nav class="footer-nav">
                <a href="" class="footer-nav-item">Про нас</a>
                <a href="" class="footer-nav-item">Новини Українського радіо</a>
                <a href="" class="footer-nav-item">Будинок звукозапису</a>
                <a href="" class="footer-nav-item">Українського радіо</a>
                <a href="" class="footer-nav-item">Як слухати</a>
                <a href="" class="footer-nav-item">Реклама</a>
                <a href="" class="footer-nav-item">Контакти</a>
            </nav>
            <div class="logo">
                <a href="/" class="logo-image footer-logo-image"></a>
            </div>
            <div class="footer-search">
                <form action="">
                    <input class="search-input" type="text" placeholder="пошук на Українському радіо">
                </form>
                <div class="footer-social d-flex justify-content-end">
                    <a href="" class="icon footer-icon ukraine"></a>
                    <a href="" class="icon footer-icon apple"></a>
                    <a href="" class="icon footer-icon android"></a>
                </div>
                <div class="footer-social d-flex justify-content-end">
                    <a href="" class="icon footer-icon facebook"></a>
                    <a href="" class="icon footer-icon instagram"></a>
                </div>
            </div>
        </div>

    </div>
</div>