<div class="container">
    <div class="header {{radio}}">
        <a href="/" class="logo">
            <div class="logo-image">{{logo}}</div>
        </a>
        <div class="top-nav">
            <nav class="top-nav-menu">
                <a href="" class="top-nav-item active">політика</a>
                <a href="" class="top-nav-item">економіка</a>
                <a href="" class="top-nav-item">суспільство</a>
                <a href="" class="top-nav-item">стиль життя</a>
                <a href="" class="top-nav-item">культура</a>
                <a href="" class="top-nav-item">музика</a>
                <a href="" class="top-nav-item">спорт</a>

            </nav>
            <div class="top-nav-burger" id="navToggle"></div>
        </div>
    </div>
</div>