<div class="container">
    <div class="header radio-{{radio}}">
        <a href="/" class="logo">
            <div class="logo-image">{{logo}}</div>
        </a>
        <div class="top-nav">
            <nav class="top-nav-menu">
                <div class="top-nav-item active">
                    <a href="#">політика
                    </a>
                </div>
                <div class="top-nav-item">
                    <a href="#">економіка</a>
                </div>
                <div class="top-nav-item">
                    <a href="#">суспільство</a>

                </div>
                <div class="top-nav-item">
                    <a href="#">стиль життя</a>
                </div>
                <div class="top-nav-item">
                    <a href="#">культура</a>
                </div>
                <div class="top-nav-item">
                    <a href="#">музика</a>
                </div>
                <div class="top-nav-item">
                    <a href="#">спорт</a>
                </div>

            </nav>
            <div class="top-nav-burger" id="navToggle"></div>
        </div>
    </div>
</div>