@import styles/mixins
@import styles/colors
iframe
    width: 100%
body
    margin: 0
    font-family: "Open Sans", sans-serif
a
    text-decoration: none
    color: inherit
p
    margin: 0
    padding: 0
    padding-bottom: 1em
    line-height: 1.3em
    color: #000
ul
    list-style: none
    margin: 0
    padding: 0

button
    background: none
    outline: none
    border: 0
    
.container
    max-width: 1428px
    margin: 0 auto
    position: relative
    @include for-phone
        padding: 0 20px
    @include for-desktop
        padding: 0 100px
.d-flex
    display: flex
.flex-tablet-column
    @include for-tablet-only
        flex-direction: column
.flex-column
    flex-direction: column
.justify-content-center
    justify-content: center
.justify-tablet-center
    @include for-tablet-only
       justify-content: center
.justify-content-between
    justify-content: space-between
.justify-content-around
    justify-content: space-around
.justify-content-end
    justify-content: flex-end
.align-items-center
    align-items: center
.align-tablet-center
    @include for-tablet-only
        align-items: center
.align-tablet-start
    @include for-tablet-only
        align-items: flex-start
.align-items-start
    align-items: flex-start
.align-items-end
    align-items: flex-end
.d-tablet-only
    display: none
    @include for-tablet-only
        display: block

img.rounded
    border-radius: 50%
.icon
    height: 36px
    width: 36px
    background-repeat: no-repeat
    background-position: top center
.icon + .icon
    margin-left: 10px
.ukraine
    width: 51px
    background-image: url(assets/ukraine.svg)
.apple
    background-image: url(assets/apple.svg)
.instagram
    background-image: url(assets/instagram.svg)
.facebook
    background-image: url(assets/facebook.svg)
.android
    background-image: url(assets/android.svg)
.search-icon
    background-image: url(assets/search.png)

.slick-slide,.slick-track,.slick-list
    height: 100%
.slick-slide
    &>div
        height: 100%
        &>div
            height: 100%

.grid-sidebar
    display: grid
    grid-template-columns: auto 300px
    grid-template-areas: 'content sidebar'
    grid-column-gap: 30px
    .content
        grid-area: content
    .right-sidebar
        grid-area: sidebar
    @include for-tablet-only
        grid-template-columns: 1fr
        grid-template-areas: "content" "sidebar"
        
.listen-link
    font-size: 14px
    &:hover
        opacity: .8

.btn-pagination 
    width: 100%
    height: auto
    margin: 40px 0
    display: flex
    align-items: center
    justify-content: center
    background-color: $white

.btn-pagination ul 
    width: auto
    height: auto

.btn-pagination ul li 
    width: 30px
    height: 30px
    float: left
    margin: 0 5px 0 0
    border: 0

.btn-pagination ul li:last-child 
    margin: 0
.btn-pagination ul li.current a
    background: $magenta
    color: $white 
.btn-pagination ul li a 
    width: 100%
    height: 30px
    float: left
    text-align: center
    line-height: 30px
    font-family: 'Roboto', sans-serif
    font-weight: 400
    font-size: 1em
    color: #2E2929
    cursor: pointer
    border-radius: 3px
    transition: background-color .25s ease-in-out

.btn-pagination ul li a:hover
    background-color: $magenta
    color: $white
.mr-auto
    margin-right: auto
.pb-1
    padding-bottom: 1em
audio
    width: 100%


.search
    display: flex
    align-items: center
.search-input
    max-width: 140px
    background: #7e7e7e
    color: $white
    line-height: 20px
    outline: none
    border: 0
    padding-left: .5em
    font-size: 0.8em
    border: 1px solid #dedede
    margin-right: .5em
    &::placeholder
        color: $white
        outline: none
    
#preloader
    position: fixed
    transition: all .3s ease
    background: #ffffff
    opacity: 0
    left: 0
    top: 0
    right: 0
    bottom: 0
    z-index: 10
    pointer-events: none

#preloader.active
    opacity: .4

@import partials/blocks/header/style
@import partials/blocks/footer/style
@import partials/blocks/news/style
@import partials/blocks/slider/style
@import partials/blocks/speakers/style
@import partials/blocks/channel-list/style
@import partials/blocks/our-projects/style
@import partials/blocks/radio/style
@import partials/blocks/programs-list/style
@import partials/blocks/sidebar/style
@import partials/blocks/listen-slider/style
@import styles/pages/news-detail
@import styles/pages/speaker
@import styles/pages/speakers



    