<div class="container">
    <div class="news-category-title">
        Ведучі українського радіо
    </div>
</div>
<div class="speakers">
    <div class="container">
        <div class="slide-arrows"></div>
        <div class="slider-wrapper">
            <div id='speakersSlider' class='speakers-list'>
                <div class="speakers-list-item">
                    <img src='http://nrcu.gov.ua/images/bank/presenter/size1/staff_1541681878_5be432d61ea21.jpg'
                        class="speaker-image" src="" alt="">
                    <div class="speaker-name">
                       Роман Коляда
                    </div>
                </div>
                <div class="speakers-list-item">
                    <img src='http://nrcu.gov.ua/images/bank/presenter/size1/staff_1541675904_5be41b805b8f0.jpg'
                        class="speaker-image" src="" alt="">
                    <div class="speaker-name">
                        Галина Бабій
                    </div>
                </div>
                <div class="speakers-list-item">
                    <img src='http://nrcu.gov.ua/images/bank/presenter/size1/staff_1541757687_5be55af706268.jpg'
                        class="speaker-image" src="" alt="">
                    <div class="speaker-name">
                        Оксана Маловічко
                    </div>
                </div>
                <div class="speakers-list-item">
                    <img src='http://nrcu.gov.ua/images/bank/presenter/size1/staff_1541684140_5be43bac7f6ee.jpg'
                        class="speaker-image" src="" alt="">
                    <div class="speaker-name">
                        Юрій Табаченко
                    </div>
                </div>
                <div class="speakers-list-item">
                    <img src='http://nrcu.gov.ua/images/bank/presenter/size1/staff_1541668770_5be3ffa211caf.jpg'
                        class="speaker-image" src="" alt="">
                    <div class="speaker-name">
                        Віталій Науменко
                    </div>
                </div>

                <div class="speakers-list-item">
                    <img src='http://nrcu.gov.ua/images/bank/presenter/size1/staff_1541681575_5be431a79baa6.jpg' class="speaker-image"
                        src="" alt="">
                    <div class="speaker-name">
                       Людмила Тягнирядно
                    </div>
                </div>
                <div class="speakers-list-item">
                    <img src='https://img5.goodfon.com/original/360x480/c/9c/devushka-pyl-fon.jpg' class="speaker-image"
                        src="" alt="">
                    <div class="speaker-name">
                        олена григорович
                    </div>
                </div>
                <div class="speakers-list-item">
                    <img src='https://img5.goodfon.com/original/360x480/c/9c/devushka-pyl-fon.jpg' class="speaker-image"
                        src="" alt="">
                    <div class="speaker-name">
                        олена григорович
                    </div>
                </div>
                <div class="speakers-list-item">
                    <img src='https://img5.goodfon.com/original/360x480/c/9c/devushka-pyl-fon.jpg' class="speaker-image"
                        src="" alt="">
                    <div class="speaker-name">
                        олена григорович
                    </div>
                </div>
                <div class="speakers-list-item">
                    <img src='https://img5.goodfon.com/original/360x480/c/9c/devushka-pyl-fon.jpg' class="speaker-image"
                        src="" alt="">
                    <div class="speaker-name">
                        олена григорович
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>